<!DOCTYPE html>
<html>
<head>
  <title>Coding Moods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (env === 'development') { %>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/components/prism/themes/prism.css" rel="stylesheet" />
  <% } else { %>
  <link href="/dist/beapy.min.css" rel="stylesheet" />
  <% } %>  
</head>
<body>
  <div class="page">
    <section class="header">
      <h1 class="title">Coding Moods</h1>
      <p>Ce blog est propulsé par <a href='https://github.com/jfroffice/beapy'>Beapy BETA</a>.</p>
    </section>
    <section class="sidebar">
        <nav class="menu"></nav>
        <nav class="tags"></nav>
    </section>
    <section class="content">
      <section class="article">
        <header class="current"></header>
        <article class="current"></article>
      </section>      
    </section>    
    <section class="comment">
      <% if (env !== 'development') { %>
      <div id="disqus_thread"></div>
      <script>
        var disqus_shortname = '<%= github %>';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <a href="http://disqus.com" class="dsq-brlink">
        comments powered by
        <span class="logo-disqus">Disqus</span>
      </a>
      <% } %>
    </section>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="components/jquery/jquery.js"><\/script>')</script>
  <% if (env === 'development') { %>
  <script src="components/marked/lib/marked.js"></script>
  <script src="components/prism/prism.js"></script>
  <script src="components/moment/moment.js"></script>
  <script src="components/moment/lang/fr.js"></script>
  <script src="js/main.js"></script>
  <% } else { %>
  <script src="dist/beapy.min.js"></script>
  <% } %></body>
</html>
