<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Coding Moods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (env === 'development') { %>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/components/prism/themes/prism.css" rel="stylesheet" />
  <% } else { %>
  <link href="/dist/beapy.min.css" rel="stylesheet" />
  <% } %>
</head>
<body>
  <div class="container">
    <section class="sidebar sidebar--clicked">
      <a class="toggle"></a>
      <nav class="menu"></nav>
    </section>
    <header>
      <h1 class="title">Coding Moods</h1>
      <p class="subtitle"><%= t.subtitle %><a href='https://github.com/jfroffice/beapy'>Beapy BETA</a>.</p>
    </header>
    <section class="content">
      <section class="article">
        <header class="current"></header>
        <article></article>
      </section>
    </section>
    <section class="comment">
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink"><%= t.disqus %><span class="logo-disqus">Disqus</span></a>
    </section>
  </div>
  <script src="components/zepto/zepto.min.js"></script>
  <script>var LANG = "<%= lang %>";</script>
  <% if (env === 'development') { %>
  <script src="components/prism/prism.js"></script>
  <script src="js/main.js"></script>
  <% } else { %>
  <script src="dist/beapy.min.js"></script>
  <% } %>
</body>
</html>
