body {
background-color: #f5f1f0;
margin: 0;
font-family: "Georgia", serif;
color: #222;
font-size: 16px;
-webkit-font-smoothing: antialiased;
}

h1, h2 {
color: #222;
font-kerning: 1px;
font-size: 26px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-shadow: 0 0 2px #BBB;
}

h2 {
font-size: 19px;
}

.container {
padding: 0 30px;
box-sizing: border-box;
width: 900px;
margin: 0 auto;
border: 1px solid #DDD;
box-shadow: 0 0 8px #DDD;
background-color: #FFF;
}

.container > header {
border-bottom: 1px solid #AAA;
padding-bottom: 8px;
}

.title {
font-size: 54px;
color: #c03669;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

.subtitle {
color: #999;
font-size: 14px;
}

.content {
width: 100%;
display: inline-block;
}

.sidebar {
background-color: #FFF;
position: fixed;
top: 10px;
right: 10px;
font-size: 14px;
border: 1px solid #EEE;
box-shadow: 1px 1px 2px #AAA;
}

.sidebar nav ul {
list-style: none;
margin-top: 10px;
padding: 0;
}

.sidebar nav li {
margin: 12px 0;
color: #EAEAEA;
padding: 9px 10px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 15px;
cursor: pointer;
}

.sidebar nav li.current {
display: none;
}

.sidebar nav li .md {
border-radius: 2px;
padding: 9px 12px;
color: #EEE;
}

.sidebar nav li.selected {
display: none;
}

.sidebar nav li .md:hover {
color: #FFF;
}

a {
color: #00B7FF;
}

.sidebar nav.menu .md {
background-color: #36afe2;
text-decoration: none;
}

.sidebar nav.menu {
margin-bottom: 10px;
}

.sidebar nav.menu ul {
margin: 12px 0;
}

.sidebar nav.tags span {
background-color: #68c241;
}

.comment {
margin: 40px 0;
}

.date {
float: left;
color: #FFF;
background-color: #c03669;
padding: 9px 10px;
border-radius: 3px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

header.current ul {
float: left;
list-style-type: none;
}

header.current ul.tags {
margin-top: 9px;
}

header.current ul.tags li {
color: #fff;
cursor: pointer;
float: left;
margin-right: 10px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

header.current ul.tags li span {
background-color: #68c241;
border-radius: 2px;
padding: 9px 12px;
}

.meta-head {
margin-top: 16px;
width: 400px;
height: 34px;
margin-bottom: 32px;
}

p > img {
display: block;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.comment {
display: none;
}

@media (max-width: 960px) {
	body {
	background-image: none;
	background-color: #fff;
	}

	.container {
		font-size: 13px;
		width: auto;
		padding: 0 15px;
		border: none;
		box-shadow: none;
	}

	.sidebar {
		background-color: #36afe2;
		top: 0;
		right: 0;
		font-size: 16px;
		border: 1px solid #EEE;
		box-shadow: 0 0 1px #EEE;
	}

	.sidebar .toggle {
		top: 10px;
		right: 10px;
		position: absolute;
		width: 32px;
		height: 32px;
		background-image: url('/img/toggle-white.png');
		float: right;
		cursor: pointer;
	}

	.sidebar nav ul {
		margin-bottom: 0;
	}

	.sidebar nav li {
		margin: 0;
		padding: 10px;
	}

	.sidebar nav li .md {
		color: #EEE;
	}

	.sidebar nav.menu {
		margin-right: 50px;
	}

	.sidebar nav li .md:hover {
		color: #FFF;
	}

	.sidebar--clicked {
		height: 0;
		background-color: transparent;
	}

	.sidebar--clicked .toggle {
		background-image: url('/img/toggle.png');
	}

	.sidebar--clicked > .menu {
		display: none;
	}
}

@media (max-width: 480px) {
	h1 {
	font-size: 22px;
	}

	.sidebar {
		font-size: 13px;
	}

	.sidebar nav li {
		line-height: 24px;
		padding: 8px 6px;
	}
}