body {
background-image: url(../img/ricepaper2.png);
}

.page {
padding: 0 30px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
width: 900px;
margin: 0 auto;
border: 1px solid #DDD;
box-shadow: 0 0 8px #DDD;
background-color: #fff;
}

.header {
border-bottom: 1px solid #888;
padding-bottom: 8px;
}

.title {
font-size: 42px;
color: #c03669;
}

.content {
width: 100%;
display: inline-block;
}

.article {
float: left;
width: 65%;
/*min-height: 400px;*/
}

.sidebar {
float: right;
width: 34%;
min-width: 250px;
}

.sidebar nav ul {
list-style: none;
margin-top: 20px;
padding: 0;
}

.sidebar nav li {
margin: 12px 0;
color: #EAEAEA;
padding: 9px 10px;
font-weight: bold;
font-family: arial;
cursor: pointer;
}

.sidebar nav li.current {
display: none;
}

.sidebar nav li span {
border-radius: 2px;
padding: 9px 12px;
}

.sidebar nav li span:hover {
color: #FFF;
}

a {
color: #00B7FF;
}

.sidebar nav.menu span {
background-color: #36afe2;
}

.sidebar nav.menu {
margin-bottom: 40px;
}

.sidebar nav.tags span {
background-color: #68c241;
}

.comment {
margin: 40px 0;
}

.date {
float: left;
color: #FFF;
margin-top: 10px;
background-color: #c03669;
margin-bottom: -5px;
padding: 9px 10px;
border-radius: 3px;
display: inline-block;
}

header.current ul {
float: left;
list-style-type: none;
}

header.current ul.tags {
width: 70%;
margin-top: -2px;
margin-left: -10px;
}

header.current ul.tags li {
margin: 12px 0;
color: #fff;
padding: 9px 10px;
font-weight: bold;
font-family: arial;
cursor: pointer;
}

header.current ul.tags li span {
background-color: #68c241;
border-radius: 2px;
padding: 9px 12px;
}